<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js" defer></script>
    <script type="text/javascript" src="~/Scripts/embedding.js" defer></script>
    <script type="text/javascript" src="~/Scripts/postMessageListener.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="form-group row">
            <button class="btn btn-default" type="button" aria-expanded="false" onclick="showInFrame()">
                IFRAME'd
            </button>
            <button class="btn btn-default" type="button" aria-expanded="false" onclick="showInDocument()">
                Redirected
            </button>
        </div>
    </div>
    <div class="container">
        <iframe src="" id="signFrame" title="easyID" allowfullscreen="true" scrolling="no" frameborder="0" class="hidden-frame"></iframe>
        <div id="rawSignature" class="collapse">
            <h4>Raw signature JWT</h4>
        </div>
    </div>
    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer>
            <p class="pull-left">Sign up for a free easyID account on <a href="https://www.grean.com">grean.com</a></p>
            <p class="pull-right">Source code for this demo is on <a href="https://www.github.com/greantech/easyid-signing-demo">GitHub</a></p>
        </footer>
    </div>
</body>
</html>
