@{
    Layout = null;
}
@model signature_demo.TrustedSenderRepresentation

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Framed</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
    <div class="container"> 
        @Html.Partial("Text", @Model);
    </div>
</body>
</html>
