@model signature_demo.TrustedSenderRepresentation

<script type="text/javascript" src="~/Scripts/bootstrap.min.js" defer></script>
<script type="text/javascript" src="~/Scripts/dropdownPopulate.js" defer></script>
<script type="text/javascript" src="~/Scripts/dropdownSubmit.js" defer></script>
<div class="container">
    <form method="post" id="signForm" action="/Signature/Text">
        <div class="form-group row">
            <label for="TextToSign" class="sr-only">Text to sign</label>
            <textarea name="TextToSign" class="form-control" rows="10" cols="100" placeholder="The agreement to sign goes here" required></textarea>
        </div>
        <div class="form-group row">
            <div class="dropdown dropdown-submit-input">
                <input type="hidden" name="selectedSignMethod" id="selectedSignMethod" />
                <button class="btn btn-default dropdown-toggle"
                        type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Get it signed now!<span class="caret"></span>
                </button>
                <ul id="signMethods" class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu"></ul>
                <div class="pull-right vcenter">
                    <label class="text-muted">Deliver response via:</label>
                    <label class="radio text-muted"><input type="radio" name="responseStrategy" value="formPost" checked>HTTP POST</label>
                    <label class="radio text-muted"><input type="radio" name="responseStrategy" value="urlFragment">URL fragment</label>
                    <label class="radio text-muted collapse" id="responseStrategyPostMessage"><input type="radio" name="responseStrategy" value="postMessage">window.postMessage</label>
                </div>
            </div>
        </div>
    </form>
    <input type="hidden" name="signerAuthority" value="@Model.Origin" />
</div>
