@model iframe_demo.Models.SignModel

<div class="container">
    <form method="post" class="form-inline">
        <div class="form-group row">
            <div class="col-xs-12 col-sm-6 col-lg-8">
                <label for="TextToSign" class="sr-only">Text to sign</label>
                <textarea name="TextToSign" class="form-control" rows="20" cols="80" placeholder="The agreement to sign goes here">@Model.TextToSign</textarea>
                <button type="submit" class="btn btn-primary">Get it signed now!</button>
            </div>
            <div class="col-xs-6 col-lg-4">
                @foreach (var signMethod in Model.SignMethods)
                {
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="selectedSignMethod" id="@signMethod.Id" value="@signMethod.Id">
                            @signMethod.DisplayName
                        </label>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
